.dark {
  // --background-color: #FFF;
  // --background-color: #0f0f13;
  --background-color: #1c1f24;
  // --level1-border-color: #DCDFE6;
  --level1-border-color: #fefefe;
  // --level2-border-color: #E4E7ED;
  --level2-border-color: #3d444f;
  // --level3-border-color: #EBEEF5;
  --level3-border-color: #272b32;
  // --level4-border-color: #F2F6FC;
  --level4-border-color: #272b32;
  --main-color: #303133;
  --normal-color: #606266;
  --secondary-color: #909399;
  // --placeholder-color: #C0C4CC;
  --placeholder-color: #606266;

  --pending: var(--secondary-color);
  --code1: #F56C6C;
  --code2: #409EFF;
  --code3: #E6A23C;
  --code4: var(--secondary-color);
  --correct: var(--level2-border-color);
  --error: #F56C6C;
  // --typed: #FFFFFF;
  --typed: var(--secondary-color);
  --hint: var(--secondary-color);
  --font-size: 2.4rem;
  --article-rows: 4;
  --input-rows: 2;
  --dark-typed: #909399;
  --dark-correct: #3d444f;

  #article-main {
    .article {
      .correct {
        color: var(--dark-typed);
        background-color: var(--dark-correct);
      }
    }
  }
}