
// $--color-primary: #ff804b;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--color-primary: #427dbf;
// $--color-primary: #ff804b;

@import "~element-ui/packages/theme-chalk/src/index";

@include b(menu) {
  @include m(horizontal) {
    & > .el-menu-item {
      height: 50px;
      line-height: 50px;
    }
    & > .el-submenu {
      & .el-submenu__title {
        height: 50px;
        line-height: 50px;
      }
    }
  }
}
@include b(submenu) {
  & .el-menu-item {
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
    min-width: 200px;
  }
}
.el-upload__tip .tip-extra {
  color: $--color-primary;
}